<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stackoverflow Analysis</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-cloud@1.2.5/build/d3.layout.cloud.min.js"></script>
    <script src="../static/js/index.js"></script>
    <style>
        .hr {
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgb(228, 228, 228);
        }
    </style>
</head>
<body>
<div class="container mx-auto">
    <div class="py-6 text-center">
        <h1 class="font-serif mb-2 text-3xl">Stack Overflow Analysis</h1>
        <p class="text-sm text-gray-600">[CS209A-23Spring] Final Project </p>
    </div>
    <div class="space-y-4 max-w-6xl mx-auto">
        <div class="mb-4">
            <h2 class="font-serif py-2 border-b border-b-gray-200 text-lg font-semibold">Answers</h2>
        </div>
        <div class="space-y-2">
            <p class="text-gray-600">A total of <strong class="text-gray-900" id="n_questions">600</strong> questions
                are collected, and <strong class="text-gray-900" id="n_ques_with_ans">600</strong> of them have at least
                one answers while <strong class="text-gray-900" id="n_ques_without_ans">0</strong> questions have no
                answers.</p>
            <div id="ans_num_viz" class="w-full font-serif"></div>
            <div class="hr"></div>
            <p class="text-center font-serif py-4">Distribution of #Answers</p>
            <div id="ans_dist_viz" class="w-full"></div>
        </div>

        <p class="space-x-8 text-center text-gray-600">
            <span>Maximum #Answers: <strong id="max_ans_num" class="text-gray-900">100</strong></span>
            <span>Average #Answers: <strong id="avg_ans_num" class="text-gray-900">0</strong></span>
        </p>

        <div class="mb-4 mt-6">
            <h2 class="font-serif py-2 border-b border-b-gray-200 text-lg font-semibold">Accpeted Answers</h2>
        </div>
        <div class="space-y-2">
            <p class="text-gray-600"><strong class="text-gray-900" id="n_acc_ques">600</strong> questions have accepted
                answers, and <strong class="text-gray-900" id="n_unsolved_ques">600</strong> questions have no accepted
                answers.</p>
            <div id="acc_ans_viz" class="w-full font-serif"></div>
            <div class="hr"></div>
            <p class="text-gray-600">There are <strong class="text-gray-900" id="n_xacc_ques">600</strong> questions
                whose non-accepted answers have received more upvotes than the accepted answers.</p>
            <div id="pri_ans_viz" class="w-full font-serif"></div>
            <div class="hr"></div>
            <p class="text-center font-serif py-4">Distribution of Resolution Time (Unit: Hour)</p>
            <div id="resolution_viz" class="w-full"></div>
        </div>

        <div class="mb-4 mt-6">
            <h2 class="font-serif py-2 border-b border-b-gray-200 text-lg font-semibold">Tags</h2>
        </div>
        <div class="space-y-2">
            <p class="text-center font-serif py-4">Tags that frequently appear together with the `java` tag</p>
            <div id="common_tag_viz" class="w-full flex justify-center"></div>
            <div class="hr"></div>
            <p class="text-center font-serif py-4">Top 10 tags that receive the most upvotes (exclude `java`)</p>
            <div id="vote_tag_viz" class="w-full flex justify-center"></div>
            <div class="hr"></div>
            <p class="text-center font-serif py-4">Top 10 tags that receive the most views (exclude `java`)</p>
            <div id="view_tag_viz" class="w-full flex justify-center"></div>

            <p class="text-center font-serif py-4">Top 10 N-tag combinations that receive the most X</p>
            <p class="text-center text-gray-600">
                N=<span class="text-gray-900 font-semibold" id="comb">3</span>
                <a class="hover:underline text-blue-600 ml-8 mr-4 cursor-pointer" onclick="changeComb(1)">+ Inc</a>
                <a class="hover:underline text-blue-600 cursor-pointer" onclick="changeComb(-1)">- Dec</a>
            </p>
            <div class="flex justify-center space-x-4">
                <div class="flex flex-col items-center px-2 after:border-r after:border-gray-600 after:block">
                    <p>X = upvotes</p>
                    <ul id="comb_vote"></ul>
                </div>
                <div class="flex flex-col items-center px-2">
                    <p>X = views</p>
                    <ul id="comb_view"></ul>
                </div>
            </div>
        </div>

        <div class="mb-4 mt-6">
            <h2 class="font-serif py-2 border-b border-b-gray-200 text-lg font-semibold">Users</h2>
        </div>
        <div class="space-y-2">
            <p class="text-center font-serif py-4">Participation Distribution</p>
            <div id="part_dist" class="w-full"></div>
            <div class="hr"></div>
            <p class="text-center font-serif py-4">Who questions most?</p>
            <div id="ques_part_viz" class="w-full flex justify-center"></div>
            <div class="hr"></div>
            <p class="text-center font-serif py-4">Who is willing to help (answer questions)?</p>
            <div id="ans_part_viz" class="w-full flex justify-center"></div>
            <div class="hr"></div>

            <p class="text-center font-serif py-4">Who frequently participate in thread discussions?</p>

            <div class="flex justify-center space-x-6">
                <div style="background: #9467bd;" class="text-xs px-2 py-1 rounded text-white font-semibold">Answers
                </div>
                <div style="background: #8c564b;" class="text-xs px-2 py-1 rounded text-white font-semibold">Comments
                </div>
            </div>

            <div id="act_part_viz" class="w-full flex justify-center"></div>
        </div>
    </div>
</div>
<script>
    main()
</script>
</body>
</html>